.table-wrapper {
    position: relative;
}

.table-scroll {
    height: 150px;
    overflow: auto;
    margin-top: 20px;
}

.table-wrapper table {
    width: 100%;
}

table {
    width: 100%;
}

.cdk-virtual-scroll-viewport {
    height: 500px;
}

img {
    width: 32px;
    height: 32px;
}